<div class="flex-container">
  <app-card [title]="'Pokemon'" [subtitle]="'Explore the pokemon'" [imageUrl]="'/assets/image/pikachu-thunderbolt.jpg'" [buttonText]="'View'" (btn-click)="onTryFunc()"></app-card>

  <app-card [title]="'Berries'" [subtitle]="'Berries are small fruits that can provide HP and status condition restoration, stat enhancement, and even damage negation when eaten by Pokémon. '" [imageUrl]="'/assets/image/pikachu-thunderbolt.jpg'" [buttonText]="'View'" (btn-click)="onTryFunc()"></app-card>

  <app-card [title]="'Contest'" [subtitle]="'Learn about contest available'" [imageUrl]="'/assets/image/pikachu-thunderbolt.jpg'" [buttonText]="'View'" (btn-click)="onTryFunc()"></app-card>

  <app-card [title]="'Encounter'" [subtitle]="'Methods by which the player might can encounter Pokémon in the wild'" [imageUrl]="'/assets/image/pikachu-thunderbolt.jpg'" [buttonText]="'View'" (btn-click)="onTryFunc()"></app-card>

  <app-card [title]="'Evolution'" [subtitle]="'Evolution chains are essentially family trees. They start with the lowest stage within a family and detail evolution conditions for each as well as Pokémon they can evolve into up through the hierarchy.'" [imageUrl]="'/assets/image/pikachu-thunderbolt.jpg'" [buttonText]="'View'" (btn-click)="onTryFunc()"></app-card>

  <app-card [title]="'Games'" [subtitle]="'Know more about pokemon game'" [imageUrl]="'/assets/image/pikachu-thunderbolt.jpg'" [buttonText]="'View'" (btn-click)="onTryFunc()"></app-card>

  <app-card [title]="'Items'" [subtitle]="'An item is an object in the games which the player can pick up, keep in their bag, and use in some manner. They have various uses, including healing, powering up, helping catch Pokémon, or to access a new area.'" [imageUrl]="'/assets/image/pikachu-thunderbolt.jpg'" [buttonText]="'View'" (btn-click)="onTryFunc()"></app-card>

  <app-card [title]="'Location'" [subtitle]="'Locations that can be visited within the games. Locations make up sizable portions of regions, like cities or routes.'" [imageUrl]="'/assets/image/pikachu-thunderbolt.jpg'" [buttonText]="'View'" (btn-click)="onTryFunc()"></app-card>

  <app-card [title]="'Machines'" [subtitle]="'Machines are the representation of items that teach moves to Pokémon. They vary from version to version, so it is not certain that one specific TM or HM corresponds to a single Machine.'" [imageUrl]="'/assets/image/pikachu-thunderbolt.jpg'" [buttonText]="'View'" (btn-click)="onTryFunc()"></app-card>

  <app-card [title]="'Moves'" [subtitle]="'Moves are the skills of Pokémon in battle. In battle, a Pokémon uses one move each turn. Some moves (including those learned by Hidden Machine) can be used outside of battle as well, usually for the purpose of removing obstacles or exploring new areas.'" [imageUrl]="'/assets/image/pikachu-thunderbolt.jpg'" [buttonText]="'View'" (btn-click)="onTryFunc()"></app-card>
</div>