/* You can add global styles to this file, and also import other style files */
.k-grid {
    .k-grid-header {
      thead {
        th {
            background-color: rgb(18, 133, 126);
            color: #FFF;
            border: 1px solid #FFF;
            justify-content: center;
        }
      }
    }
    tbody {
      td {
        background-color: rgb(242, 242, 242);
        border: 1px solid #FFF;
      }
    }
}

button{
  border: none;
  background-color: transparent;
}